@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'RubikMicrobe';
    src: url('../asset/fonts/RubikMicrobe-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('../asset/fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../asset/fonts/Roboto-Regular.ttf');
}


@font-face {
    font-family: 'Roboto-Bold';
    src: url('../asset/fonts/Roboto-Bold.ttf');
}

.font-microbe{
    font-family: 'RubikMicrobe', cursive;
    font-weight: 400;
}

.font-roboto-thin{
    font-family: 'Roboto-Thin', sans-serif;
    font-weight: 400;
}

.font-roboto-regular{
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
}


.font-roboto-bold{
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 400;
}

